<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.achen.novelbridge.server.mapper.BookSourceMapper">

    <update id="update" parameterType="com.achen.novelbridge.pojo.entity.NovelBookSource">
        UPDATE novel_book_source
        <set>
            <if test="bookId != null">book_id = #{bookId},</if>
            <if test="title != null">title = #{title},</if>
            <if test="author != null">author = #{author},</if>
            <if test="sourceFilename != null">source_filename = #{sourceFilename},</if>
            <if test="fileType != null">file_type = #{fileType},</if>
            <if test="fileSize != null">file_size = #{fileSize},</if>
            <if test="contentHash != null">content_hash = #{contentHash},</if>
            <if test="rawText != null">raw_text = #{rawText},</if>
            <if test="encoding != null">encoding = #{encoding},</if>
            <if test="status != null">status = #{status},</if>
            <if test="errorMessage != null">error_message = #{errorMessage},</if>
            updated_at = NOW(),
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>
